.footerLink {
    color: var(--textColor);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryColor);
    padding: 1rem;
}

.footerInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--textColor);
    margin: 2rem;
}

.footerElement {
    margin-bottom: 2rem;
}

.footerÜberschrift {
    font-weight: bold;
}

.line {
    border-top: 1px solid white;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright {
    margin: 2rem;
    color: var(--textColor);
}

.socialIconsBottom {
    margin: 0.5rem;
    display: flex;
}

.socialIconsBottom:hover {
    transition: var(--transitionHover);
    color: var(--mainColor);
}

.impressum {
    margin: 2rem;
}

.footerText {
    color: var(--mainColorLight)
}

a.footerLink:hover {
    transition: var(--transitionHover);
    color: var(--mainColor);
}

.socialIconsBottom {
    margin: 0.5rem;
    display: flex;
}

.footerInhalt {
    white-space: pre-line;
}

@media screen and (max-width: 810px) {
    .footerInformation {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footerInformation {
    }

    .bottom {
        flex-direction: column;
    }
}
