a {
    color: var(--textColor);
}

.centered {
    text-align: center;
    color: var(--mainColor);
    font-size: 0.9em;
    display: block;
    margin-top: var(--marginContent);
}


.blackblock, .blockSmall {
    text-align: justify;
    font-size: 0.9rem;
    flex: 1;
    line-height: 1.4rem;
    display: inline-block;
    margin-top: var(--marginContent);
}

.blockSmall{
    margin-top: 1.7rem;
}

.blackblock {
    line-height: 1.9rem;
}

@media only screen and (max-width: 700px) {
    .blockSmall {
        line-height: 1.3rem;
    }

    .blackblock{
        margin-top: 0;
    }
}


