
.black {
    position: relative;
    margin-top: var(--marginSection);
    margin-bottom: var(--marginContent);
}

.black::after {
    content: '';
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: -0.5rem;
    height: 1px;
}

.black::after {
    background-color: var(--mainColor);
}

@media only screen and (max-width: 700px) {
    .black::after{
        bottom: -0.8rem;
    }
}





