
.white{
    position: relative;
    margin-top: var(--marginSection);
}

.white::after{
    content: '';
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: -0.5rem;
    height: 1px;
}


.white::after{
    background-color: var(--textColor);
}




