a {
    color: var(--textColor);
}

.mittig {
    text-align: center;
    color: var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.9em;
    display: block;
}

.blocksatz {
    hyphens: auto;
    text-align: justify;
    color: var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.9rem;
    flex: 1;
    display: inline-block;
    line-height: 1.9rem;
}

.smallBlock{
    margin-top: var(--marginContent);
    font-size: 0.9rem;
    flex: 1;
    display: inline-block;
    line-height: 1.9rem;
}

.linksbündig{
    text-align: left;
    color: var(--textColor);
    font-size: 0.9rem;
}


.events, .openingText{
    text-align: left;
    color: var(--textColor);
    line-height: 1.9rem;
    font-size: 0.9rem;
    margin-top: var(--marginContent);
}


.decoration {
    color: var(--textColor);
    font-size: 2.5rem;
    position: absolute;
    margin-top: -1.5rem;
    font-weight: unset;
    margin-left: 0;
}

.decorationsayhi {
    color: var(--textColor);
    font-size: 2.5rem;
    position: absolute;
    margin-left: 13rem;
    margin-top: 11rem;
    font-weight: unset;
}

.bold {
    text-align: left;
    color: var(--textColor);
    font-weight: bold;
    font-size: 1rem;
}

.boldHeading {
    text-align: left;
    color: var(--textColor);
    font-weight: bold;
    font-size: 1rem;
}

@media only screen and (max-width: 700px) {
    .blocksatz {
        text-align: justify;
        margin-top: var(--marginContent);
        font-size: 0.9rem;
        display: block;
    }

    .linksbündig {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .openingText {
        display: block;
        text-align: center;
        margin-top: var(--marginContent);
        line-height: 1.5rem;
        font-size: 0.9rem;
    }

    .bold {
        text-align: center;
    }

    .boldHeading {
        text-align: center;
    }


}

