.with-bottom-wheel {
    padding-bottom: calc(8rem / 2 + 2rem);
}

.page {
    background-color: var(--mainColor);
    position: relative;
    padding-left: 15rem;
    padding-right: 15rem;
}

.paddingPage {
    background-color: var(--textColor);
}

@media only screen and (max-width: 1100px) {
    .page {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}