@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');

.btn {
    all: unset;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    cursor: pointer;
    border: 0.1rem solid var(--textColor);
    align-items: center;
    background: var(--mainColor);
    color: var(--textColor);
}


.btn:hover {
    transition: 300ms;
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

