@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');

.btnReservierung,
.btnVolunteer,
.btnSpeisekarte {
    all: unset;
    margin-top: var(--marginContent);
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0.1rem solid var(--textColor);
    outline: none;
    transition: var(--transitionHover);
    line-height: 0.5rem;
}


.btnReservierung,
.btnSpeisekarte{
    background: var(--mainColor);
    color: var(--textColor);
}



.btnVolunteer {
    border: 0.1rem solid var(--mainColor);
}


.btnReservierung:hover,
.btnVolunteer:hover,
.btnSpeisekarte:hover{
    transition: var(--transitionHover);
    color: var(--secondaryColor);
    border: 0.1rem solid var(--secondaryColor);
}






