@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');

.btn {
    max-width: 15rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    border-color: var(--textColor);
    border-radius: 0px;
    border-width: thin;
    text-decoration-color: white;
    align-items: center;
    display: flex;
    background: var(--mainColor);
    color: var(--textColor);
}

.btn button {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    border-color: var(--textColor);
    border-radius: 5px;
    border-width: thin;
    text-decoration-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: var(--mainColor);
}

.btn:hover {
    transition: 125ms;
    color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

