.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryColor);
    padding: 1rem;
}

.footerInformation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: var(--textColor)
}

.footerLinks {
    text-align: left;
}

.footerLinks a {
    display: flex;
    flex-direction: column;
    //margin: var(--marginContent);
    color: var(--textColor);
    text-decoration: none;
}

.footerLinks a:hover {
    transition: 125ms;
    color: var(--mainColor);
}

.footerInformation {
    display: flex;

}

.footerElement {
    flex: 1 1 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add optional margin between elements */
}


.contact {
    display: flex;
    flex-direction: column;
}

.contact a {
    text-decoration: none;
    color: var(--textColor);
}

.contact a:hover {
    transition: 125ms;
    color: var(--mainColor);
}

.contact p {
    margin: var(--marginContent);
}

.socialmedia {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border: red;
}




.line {
    border-top: 1px solid white;
}

.copyright {
    margin: 2rem;
    color: var(--textColor);
}

.impressum {
    margin-left: 10px;
}


/* Media Query für Tablets */
@media screen and (max-width: 768px) {
    .information {
        flex-direction: column;
    }
    .links {
        text-align: center;
    }
    .contact {
        text-align: center;
    }
    .socialmedia {
        flex-direction: row;
    }
}

/* Media Query für Smartphones */
@media screen and (max-width: 480px) {
    .information {
        flex-direction: column;
    }
    .links {
        text-align: center;
    }
    .contact {
        text-align: center;
    }
    .socialmedia {
        margin: 0;
    }
    .socialmedia .icon{
        margin: 0.5rem;
        flex-direction: row;
    }

}





