
.gallery-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery {
    display: flex;
    align-items: center;
    height: 30rem;
    position: relative;
}


.scroll-images {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}


.scroll-images::before,
.scroll-images::after{
    position: absolute;
    content: "";
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.scroll-images::before {
    left: 0;
   /* background-image: linear-gradient(90deg, var(--mainColor), transparent);*/
}

.scroll-images::after{
    right: 0;
    /*background-image: linear-gradient(-90deg, var(--mainColor), transparent);*/
}


.singlePicture{
    min-width: 600px;
    height: 100%;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

.singlePicture img {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

.icon {
    color: var(--mainColorLight);
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    justify-content: space-between;
}



.singlePicture::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.singlePicture {
    scrollbar-width: none;
}

.singlePicture {
    -ms-overflow-style: none;
}

