
.gallery-container {
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.gallery {
    display: flex;
    align-items: center;
    height: 30rem;
    width: 100%;
    position: relative;
}


.scroll-images {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}


.scroll-images::before,
.scroll-images::after {
    position: absolute;
    content: "";
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.scroll-images::before {
    left: 0;
    /*
    background-image: linear-gradient(90deg, var(--mainColor), transparent);
    */
}

.scroll-images::after{
    right: 0;
    /*
    background-image: linear-gradient(-90deg, var(--mainColor), transparent);
    */
}


.child{
    min-width: 400px;
    height: 100%;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

.child img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.icon {
    color: var(--mainColorLight);
    background-color: var(--mainColor);
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0 20px;
    cursor: pointer;
}



.child::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


