.image {
    justify-content: center;
    align-items: center;
}

.imagelogo{
    margin-top: 5rem;
}

.imagepartner{
    width: 15rem;
    margin-top: var(--marginContent);
}

.imagetables{
    width: 15rem;
    height: 10rem;
    margin: var(--marginContent);
}

.imageinteriorNatan{
    display: block;
    width: 44%;
    height: 44%;
    margin-right: 5rem;
}


@media only screen and (max-width: 1024px) {
    .imagelogo {
        margin-top: 5rem;
    }

    .imageevent {
        margin: 0;
    }

    .wheel{
        width: 6rem;
        height: 6rem;
    }

    .imagepartner{
        max-width: 22rem;
        margin-top: var(--marginContent);
    }

    .imageinteriorNatan{
        visibility: hidden;
        width: 0;
    }

}