.image {
    justify-content: center;
    align-items: center;
}

.imagelogo{
    position: absolute;
    margin-top: 4rem;
    width: 10%;
    height: 10%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.imagebar{
    margin-top: 3.8rem;
    position: relative;
    width: 101%;
    height: 101%;
    background-color: black;
}

.imagevolunteer{
    margin-top: var(--marginContent);
    margin-left: 1rem;
    width: 50%;
}

.imagepartner{
    width: 15rem;
    margin-top: var(--marginContent);
    margin-right: 1rem;
}




.imageinteriorNatan{
    display: block;
    width: 480px;
    height: 320px;
    margin-right: 5rem;
    margin-left: 0;

}

@media only screen and (max-width: 1500px) {
.imageinteriorNatan{
    border: #000000 solid;
    display: block;
    width: 300px;
    height: 200px;
    margin-right: 5rem;
    margin-left: 0;
}
}


@media only screen and (max-width: 1024px) {

    .imageevent {
        margin: 0;
    }

    .wheel{
        width: 6rem;
        height: 6rem;
    }

    .imagepartner{
        max-width: 22rem;
        margin-top: var(--marginContent);
    }

    .imageinteriorNatan{
        visibility: hidden;
        width: 0;
        display: none;
    }

    .imagebar{
        display: none;
    }

    .imagelogo{
        width: 21%;
        height: 21%;
        position: static;
        transform: none;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

}