.map {
    margin-top: var(--marginContent);
}

/* Reduzieren Sie die Größe der Karte für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .map {
        margin-top: var(--marginContent);
        width: auto;
        height: 225px;
    }
}