.map {
    all: unset;
    flex: 1;
    display: inline-block;
    visibility: visible;
    width: fit-content;
    height: 33rem;
    padding: 0;
}

/* Reduzieren Sie die Größe der Karte für kleinere Bildschirme */
@media screen and (max-width: 1026px) {
    .map {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}