.map {
    width: 600px;
    height: 450px;
    margin: 5rem;
}

/* Reduzieren Sie die Größe der Karte für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .map {
        width: auto;
        height: 225px;
    }
}