.Öffnungszeiten{
    flex: 1;
    display: inline-block;
    border: 0.1rem solid var(--textColor);
    white-space: pre-line;
    text-align: center;
    margin-top: var(--marginContent);
    padding: 2rem;
    color: var(--textColor);
    font-size: 0.8rem;
    line-height: 2rem;
}

.Öffnungszeiten + .blocksatz {
    margin-left: 2rem;
}

.reservierung{
    display: block;
    text-align: center;
    margin-top: var(--marginContent);
    color: var(--textColor);
    font-size: 0.8rem;
    line-height: 2rem;
    border: 0.1rem solid var(--textColor);
}

.Natan{

}

@media only screen and (max-width: 1024px) {
    .Öffnungszeiten{
        display: inline-block;
        border: 0.1rem solid var(--textColor);
        white-space: pre-line;
        text-align: center ;
        padding: 3.1rem;
        color: var(--textColor);
        font-size: 0.8rem;
        line-height: 2rem;
        margin: var(--marginContent) 0;
    }

    .Öffnungszeiten + .blocksatz {
        margin-left: 0rem;
    }


}