.popup{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080  ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.popup-inner{
    position: absolute;
    top: 7rem;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: var(--textColor);
    overflow-y: auto;
    animation: easeInPopUp .5s ease-out backwards;
}

@keyframes easeInPopUp {
    0% {
        opacity: 0;
        transform: translateY(100px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.popup-inner .pop-up-close-btn{
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--mainColor);
    font-size: 1.8rem;
}

.popup-inner .pop-up-close-btn:hover{
    color: var(--secondaryColor);
}

@media only screen and (max-width: 1024px) {
    .popup-inner {
        padding: 0 2rem;

    }

}

