
.Datepicker{
    display: inline-grid;
    color: var(--textColor);
}

.Datepicker label{

}

.Datepicker input{
    all: unset;
    width: 10rem;
    height: 1.5rem;
    background-color: #c4c4c4;
    color: var(--mainColor);
}

.Datepicker input:focus{
    background-color: #ffffff;
    outline: none;
}






