.mittig {
    text-align: center;
    color:var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.8em;
    display: block;
}

.blocksatz{
    text-align: justify;
    color: var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.8rem;
    flex: 1;
    display: inline-block;
    text-align-last: justify;
}

.linksbündig{
    text-align: left;
    color: var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.8rem;
}
@media only screen and (max-width: 1024px) {
    .blocksatz{
        text-align: justify;
        color: var(--textColor);
        margin-top: var(--marginContent);
        font-size: 0.8rem;
        display: block;
    }
}