.text {
    color:var(--textColor);
    margin-top: var(--marginContent);
    font-size: 0.8em;
    display: block;
    text-align: justify;
}

@media only screen and (max-width: 1024px) {
    .text{

    }

}