.volunteer {
    color: var(--mainColor);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteer label {
    margin-top: var(--marginContent);
    font-weight: bold;
    color: var(--mainColor);
}

.volunteer input{
    all: unset;
    width: 15rem;
    height: 1.3rem;
    border: 0.1rem solid #b4b2b2;
    border-radius: 0.5rem;
    color: var(--mainColor);
    margin-top: var(--marginContent);
    padding: 0.3rem;
}

.volunteer .textarea{
    all: unset;
    display: block;
    width: 100%;
    height: 6rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.volunteer .submit{



}
