.formular {
    color: var(--mainColor);
    flex-direction: column;
    padding: 1rem;
    scroll-behavior: auto;
}

.containerFormular {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
}

.formular p {
    display: block;
    margin-top: 1rem;
    text-align: left;
}

.formular label {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
    text-align: left;
    line-height: 2rem;

}

.formular input, .formular #time {
    all: unset;
    width: 15.5rem;
    height: 1.3rem;
    border: 0.09rem solid #b4b2b2;
    border-radius: 0.5rem;
    color: var(--mainColor);
    padding: 0.3rem;
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

.formular.volunteer input{
    width: 25rem;
}


.formular input:focus {
    background-color: var(--textColor);
    border-color: var(--mainColor);
    outline: none;
}

.submit, .sentForm .submit {
    background-color: var(--mainColor);
    color: var(--textColor);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--mainColor);
    width: fit-content;
    text-align: center;
    margin-top: var(--marginContent);
    margin-bottom: var(--marginContent);
    transition: var(--transitionHover);
}



.submit:hover{
    transition: var(--transitionHover);
    background-color: var(--secondaryColor);
    color: var(--textColor);
    border-color: var(--secondaryColor);
}

.formular .textArea{
    all: unset;
    display: block;
    width: 25.5rem;
    height: 6rem;
    border: 0.09rem solid #b4b2b2;
    border-radius: 0.5rem;
    text-align: left;
}

.formular textarea:focus {
    background-color: var(--textColor);
    border-color: var(--mainColor);
    outline: none;
}

.sentForm{
    color: var(--mainColor);
    line-height: 1.5rem;
    text-align: justify;
    margin: var(--marginContent);
    white-space: pre-line;
    padding: 1rem;
    width: 17rem;
    height: auto;
}

.formular .checkbox{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.checkbox #privacy{
    margin-left: 0.7rem;
    text-align: left;
}

.formular .mandatory{
    font-size: 14px;
    color: gray;
    margin-top: 0.3rem;
    margin-left: 0;
}


@media only screen and (max-width: 1024px) {
    .formular {
        display: block;
    }

    .formular label {
        margin-top: 0.5rem;
    }

    .formular .textArea{
        width: 16.2rem;
    }

    .formular.volunteer input{
        width: 15.5rem;
    }

    .sentForm{
        width: fit-content;
    }


}
