.btnReservation,
.btnVolunteer,
.btnMenu {
    all: unset;
    margin-top: var(--marginContent);
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0.1rem solid var(--textColor);
    outline: none;
    transition: var(--transitionHover);
    line-height: 0.5rem;
}


.btnReservation,
.btnMenu {
    background: var(--mainColor);
    color: var(--textColor);

}

.btnReservation {
   display: flex;
    align-items: flex-start;
    text-align: left;
}

.btnMenu {
    margin-top: 3rem;
}

.btnVolunteer {
    border: 0.1rem solid var(--mainColor);
}


.btnReservation:hover,
.btnVolunteer:hover,
.btnMenu:hover {
    transition: var(--transitionHover);
    color: var(--secondaryColor);
    border: 0.1rem solid var(--secondaryColor);
}

@media only screen and (max-width: 700px) {
    .btnReservation,
    .btnMenu {
        text-align: center;
        display: unset;

    }

}






