/* Gallery */

.galleryContainer {
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.gallery {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.scroll-images {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}


.scroll-images::before,
.scroll-images::after {
    position: relative;
    content: "";
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.scroll-images::before {
    left: 0;
}

.scroll-images::after {
    right: 0;
}

.singlePicture {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

button.arrowIconRight.arrowIconLeft {
    color: var(--mainColorLight);
    background-color: var(--mainColor);
    outline: none;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 2px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 5px;
}

.singlePicture::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.singlePicture {
    -ms-overflow-style: none;
}


@media screen and (max-width: 480px) {
    .galleryContainer {
        display: block
    }


    button.arrowIconLeft {
        display: none;
    }

    button.arrowIconRight {
        display: none;
    }

    .scroll-images {
        width: 100%;
        height: 300px;
    }
}

/* EventGallery */


.eventGalleryContainer.center {
    justify-content: center;
}


