/* ScrollImages */

.galleryContainer {
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
    display: flex;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    touch-action: pan-y;
}

.gallery {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scroll-images {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.scroll-images::before,
.scroll-images::after {
    position: relative;
    content: "";
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
}

.scroll-images::before {
    left: 0;
}

.scroll-images::after {
    right: 0;
}

.singlePicture {
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    margin: 1px 10px;
    cursor: pointer;
    overflow: hidden;
}

.singlePicture.small {
    height: 100px;
    margin: 1px 15px;
}

.galleryContainer.small {
    height: 100px;
    overflow: hidden;
    margin-top: var(--marginSection);
}



.galleryContainer.big .singlePicture {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    max-height: 500px; /* Adjust the max height for bigger images */
    cursor: pointer;
}


.arrowIconLeft,
.arrowIconRight {
    font-size: 40px;
}

.singlePicture::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.singlePicture {
    -ms-overflow-style: none;
}


@media screen and (max-width: 480px) {
    .galleryContainer {
        display: flex;
        position: relative;
        align-items: center;
        overflow: hidden;
    }

    .galleryContainer .arrowIconRight,
    .galleryContainer .arrowIconLeft {
        display: none;
    }

    .scroll-images {
        width: 100%;
        height: 100%; /* Full height for mobile version */
        overflow-x: hidden; /* Remove horizontal scrolling */
    }

    .singlePicture {
        width: 100%; /* Make images fit the screen width */
        height: auto; /* Allow images to adjust height accordingly */
    }

    .singlePicture.active {
        max-height: 100%; /* Make the active image fill the screen height */
    }

}


