.wheel {
    z-index: 1;
    position: absolute;
    bottom: calc(var(--size-circle) * -0.5);
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--size-circle);
    height: var(--size-circle);
    mix-blend-mode: difference;
}

.wheelWhite {
    display: none;
}

.wheelRight {
    display: none;
}



@media only screen and (max-width: 700px) {
    .wheel {
        width: 10rem;
        height: 10rem;
        bottom: calc(10rem * -0.5);
    }

    .wheelWhite {
        width: 40%;
        height: auto;
        display: unset;
        position: absolute;
        left: -4rem;
        margin-top: 5rem;
    }

    .wheelRight {
        width: 30%;
        height: auto;
        position: absolute;
        display: unset;
        right: 1rem;
        margin-top: -3rem;
        z-index: 99;
    }

}
