.opening {
    flex: 1;
    white-space: pre-line;
    text-align: left;
    color: var(--textColor);
}

@media only screen and (max-width: 700px) {
    .opening {
        border: 0.1rem solid var(--textColor);
        white-space: pre-line;
        text-align: center;
        padding: 2rem;
        margin-left: 0;
        margin-right: 0;
        color: var(--textColor);
        font-size: 0.8rem;
        margin-top: 3rem;
    }


}